<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>453813668450-cqvj2qdv37q50or53ceqfa88isrmlvgf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.453813668450-cqvj2qdv37q50or53ceqfa88isrmlvgf</string>
	<key>API_KEY</key>
	<string>AIzaSyABdwQjlC-wJU6uMaxrMbG8eFq1ZsdGnJw</string>
	<key>GCM_SENDER_ID</key>
	<string>453813668450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>matkinson.maEBoutique</string>
	<key>PROJECT_ID</key>
	<string>maeboutique-aaa0d</string>
	<key>STORAGE_BUCKET</key>
	<string>maeboutique-aaa0d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:453813668450:ios:8bbea06213fbd6cf7f5f3b</string>
</dict>
</plist>